.ds-main-container{

}
.ds-main{
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "art pie"
                         "tck tck";
}
.ds-articles{
    grid-area: art;
}
.ds-pie{
    grid-area : pie;
}
.ds-tickets{
    grid-area : tck;
}
@media screen and (max-width : 960px){
    .ds-pie{
        display:  none;
    }
    .ds-main{
        grid-template-columns: unset;
        grid-template-areas: "art art" 
                             "tck tck";
    }
    .ds-tickets, .ds-articles{
        overflow : auto;
    }
}